{% extends 'roots/base.html' %}
    {% block content %}
        {% for portraits in portraits %}
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 roots_projet-staff to-animate">
            <figure>
                <p><img src="{{ portraits.photo.url }}" class="img-responsive"></p>
            </figure>
            <h3><a href="{% url 'portraits_detail' pk=portraits.pk %}">{{ portraits.prenom }} {{ portraits.nom }}</a></h3>
            <ul class="roots_projet-social">
                <li><a href="{% url 'roots.views.portraits_detail' pk=portraits.pk %}"><i class="glyphicon glyphicon-comment">{{ portraits.approved_comments.count }}</i></a></li>
                <li><a href="{% url 'roots.views.portraits_detail' pk=portraits.pk %}"><i class="glyphicon glyphicon-heart"></i></a></li>
            </ul>
        </div>
        {% endfor %}
    {% endblock content %}