{% extends 'roots/base.html' %}

{% block content %}
    <body>
        <h1>Inscription</h1>

        {% if registered %}
        <strong>Bienvenue !</strong>
        <a href="{% url 'portraits_list' %}">Retour vers la page principale</a><br />
        {% else %}
        <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">{% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="S'inscrire" />
        </form>
        <a href="{% url 'login' %}">S'inscrire.</a><br />
        {% endif %}
    </body>
{% endblock %}
