{% extends 'roots/base.html' %}

{% block content %}
    {% if registered %}
    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <h2 class="section-lead text-center">Bienvenue !</h2>
        <a href="{% url 'portraits_list' %}">Retour vers la page principale</a><br />
        {% else %}
        <section id="form"><!--form-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="login-form"><!--login form-->
                            <h2>Inscrivez-vous</h2>
                            <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>{{ user_form.username.label_tag }}</td>
                                        <td>{{ user_form.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ user_form.last_name.label_tag }}</td>
                                        <td>{{ user_form.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ user_form.first_name.label_tag }}</td>
                                        <td>{{ user_form.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ user_form.email.label_tag }}</td>
                                        <td>{{ user_form.email }}</td>
                                    <tr>
                                        <td>{{ user_form.password.label_tag }}</td>
                                        <td>{{ user_form.password }}</td>
                                    </tr>
                                    </tr>
                                </table>
                            </div>
                                <input type="submit" class="btn btn-default" name="submit" value="S'inscrire" />
                            </form>
                        </div><!--/login form-->
                    </div>
                    <div class="col-sm-1">
                        <h2 class="or">OU</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="signup-form"><!--sign up form-->
                            <h2>Déjà inscrit ? Connectez-vous !</h2>
                                <a href="{% url 'login' %}" class="btn btn-default" role="button">Connexion</a>
                        </div><!--/sign up form-->
                    </div>
                </div>
            </div>
        </section><!--/form-->
        {% endif %}
    </div>
    {% endblock %}
