{% extends 'roots/base.html' %}

    {% block content %}
    <div id="roots_projet-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h2 class="text-center">{{ user.username }}</h2>
                              <figure>
                                <p class="text-center"><img src="{{ userprofile.avatar.url }}" class="img-responsive"></p>
                              </figure>
                              <h2 class="text-center">Informations</h2>
                              	<p class="text-center">Pseudo : {{ user.username }}</p>
		                        <p class="text-center">Email : {{ user.email }} </p>
		                        <p class="text-center">Date d'inscription : {{ user.date_joined }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
